@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');


.top-navbar .contact-list i {
    margin-right: 5px; /* Space between icon and text */
    color: white; /* Icon color */
}

.top-navbar {
  position: sticky;
    top: 0; /* This will stick it to the top of the viewport */
    z-index: 1000;
    background-color: #000000; /* Example background color */
    padding: 10px; /* Example padding */
    text-align: right; /* Centering the content */
    text-decoration: none;
    font-size: 13px;
}

.top-navbar a {
    margin: 0 10px; /* Spacing out the links */
    text-decoration: none; 
    color: white; 
    text-decoration: none;
}

.navbar-nav {
  z-index: 1050;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus {
  color: #007bff !important; 
  background-color: transparent;
}

.navbar-nav .nav-link:hover {
  color: #0056b3 !important; 
  background-color: transparent;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: inherit !important; 
    background-color: transparent;
  }
}
.nav-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px !important;
}
  #navbarNav {
    justify-content: center; 
} 
  
  .fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url('images/rs sign.JPG');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.scrolling-content {
    position: relative;
    overflow: hidden; 
    background: transparent;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-overlay{
  text-align: center;
  color: white;
  padding: 20px 0;
  z-index: 2;
}

.title{
  font-size: 4rem;
  font-family: Overlock;
  font-style: italic;
  font-weight: bold;
  text-shadow: 4px 4px 8px #000000;
}

.description{
  font-size: 2rem;
  font-family: Overlock;
  font-style: italic;
  font-weight: bold;
  text-shadow: 4px 4px 8px #000000;
}

.container-fluid2 {
  background-color: rgb(22, 22, 22);
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 100%;
  padding: 20px;
}

.title2{
  text-align: center;
  font-size: 30px;
  font-family: Asul;
  font-style: bold;
  padding: 20px;
}

.content{
  font-family: Asul;
  text-align: center;
  width: 80%; /* Adjusted width */
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center the container */
  padding: 50px;
}

@media (max-width: 768px) {
  .content {
    font-size: 16px; 
    width: 100%; 
    padding: 20px; 
    line-height: 1.5; 
    word-wrap: break-word; 
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.container-fluid3 {
  background-color: white;
  display: flex; /* Keeps the container as a flexbox */
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  flex-wrap: wrap; /* Horizontal alignment */
}

.container-fluid3 img {
  flex: 1; 
  max-width: 40%; 
  width: auto; 
  height: auto;
  flex-shrink: 0;  
  opacity: 0; 
  transition: opacity 1s ease-out; 
  padding: 20px;
}

@media (max-width: 768px) {
  .container-fluid3 img {
    max-width: 80%; /* Larger max-width for smaller screens */
    height: auto; /* Auto height for aspect ratio */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

.content2{
  padding: 20px;
  font-style: bold;
  font-family: Asul;
}

.bn59 {
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  text-decoration: none;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
}

@media (max-width: 768px) {
  .bn59 {
    margin-bottom: 20px;
  }


  .footer {
    padding-top: 20px; 
  }
}
 
.footer{
  background-color: #000000;
  padding: 50px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}
  